.main-heading {
  font-size: 2rem;
  font-weight: bold;
}

.main-toolbar {
  padding: 0;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
